.chat-input {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  min-height: 64px;
  max-height: 144px;
  border-radius: 12px;
  background: #292D32;
  border: 1px solid #393e44;
  width: calc(100% - 20px);
  box-shadow: 0 0 10px 16px #292D32;
}

.chat-input img:nth-child(1) {
  margin: auto 16px auto 16px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #181b1f;
}

.more-input {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 10px;
  flex-shrink: 0;
  background: transparent;
  border-radius: 10px;
}

.material-symbols-rounded-button {
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
}

.material-symbols-rounded {
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
  background: transparent;
  margin-right: 6px;
  color: #f1f5f9;
  padding: 10px;
  border-radius: 10px;
}

.chat-input textarea {
  resize: none;
  height: 48px;
  min-height: 48px;  
  max-height: 144px;
  line-height: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #7c878e;
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  box-sizing: border-box;
  font-size: 1rem;
  overflow: auto;
}