main {
  position: relative;
  max-height: 100vh;
  background: transparent;
  overflow: hidden;
  border-radius: 0px 0px 12px 12px;
}

.chat-box {
  min-height: 92.6vh;
  max-height: 92.6vh;
  background: #292D32;
  overflow-y: auto;
}