main {
  position: relative;
  max-height: 100vh;
  background: transparent;
  overflow: hidden;
}

.chat-box {
  min-height: 92.6vh;
  max-height: 92.6vh;
  background: #292D32;
  overflow-y: auto;
  margin-bottom: 1rem;
}