.chat-functions {
  position: absolute;
  width: 0px;
  min-height: 92.6vh;
  max-height: 100vh;
  top: 0;
  right: 0;
  transition: opacity 0.3s ease;
  background: rgba(41, 45, 50, 0);
  transition: width 0.3s ease, background 0.3s ease;
  z-index: 3;

  .procurar {
    visibility: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.chat-functions.ativo {
  width: 360px;
  border-left: 1px solid #393e44;
  background: #292d32;

  .procurar {
    visibility: 1;
    opacity: 1;
  }
}

.procurar {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 65px;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  border-bottom: 1px solid #393e44;
}

.procurar input {
  background: transparent;
  color: #7c878e;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
  min-width: 210px;
  margin-right: 20px;
}

.procurar input:focus {
  outline: none;
}

.toggle-functions-showback {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: max-content;
  height: max-content;
  background: transparent;
}

.toggle-functions {
  width: 24px;
  height: 24px;
  margin: 20px 0px 20px 16px;
  padding: 8px;
  background: transparent;
  color: #7c878e;
  cursor: pointer;
  transform: rotate(180deg);
}

.functions-chat {
  padding: 1rem;
  scroll-behavior: smooth;
  overflow-y: auto;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  padding: 16px;
  background: transparent;
}

.registros-arquivos {
  box-sizing: border-box;
  border-color: #393e44;
  border-width: 0.0625rem;
  border-radius: 0.75rem;
  padding: 0.1875rem;
  overflow: hidden;
  background-color: #181b1f;
  border: 0.125rem solid #393e44;
}

.registros-arquivos-div {
  display: flex;
  background: transparent;
}

.registros-arquivos-div button {
  color: #fcfdfe;
  font-weight: 600;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  height: 2rem;
  flex: 1 1 0%;
  background: transparent;
  font-size: 0.875rem;
  line-height: 1.5rem;
  cursor: pointer;
  box-sizing: border-box;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.registros-arquivos-div button.ativo {
  background: #292d32;
}

/* Registros Container */

.registros-container {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 32px);
  background: transparent;
}

.registros-criados {
  min-height: 300px;
  max-height: 300px;
  border-radius: 1rem;
  background: #181b1f;
  padding: 16px;
}

.criar-registro {
  display: flex;
  align-items: center;
  color: #fcfdfe;
  background-color: #181b1f;
  width: 100%;
  margin-top: 1rem;
  font-family: var(--font-inter);
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: -0.01em;
  height: 3rem;
  justify-content: center;
  border-radius: 1.5rem;
  border-width: 0.125rem;
  border-color: transparent;
  font-weight: 600;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  cursor: pointer;
}

.criar-registro:hover {
  font-size: 0.92rem;
}

.criar-registro span {
  font-size: 1.25rem;
}

.conteudo-functions {
  background: transparent;
  display: none;
}

.conteudo-functions.ativo {
  display: block;
}

.registros-criados button {
  display: flex;
  align-items: center;
  font-family: "Archivo", sans-serif;
  width: 100%;
  font-weight: 600;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: -0.01em;
  cursor: pointer;
  text-transform: none;
  color: #fcfdfe;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  border-radius: 0.75rem;
}

.registros-criados button:hover {
  background: #292d32;
}

.block-registros {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #292d32;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  transition-property: color, background-color, border-color,
  text-decoration-color, fill, stroke;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

.registros-criados button:hover .block-registros {
  background: #735ffa;
}
.block-registros svg {
  background: transparent;
}
