.chat-menu {
  position: relative;
  margin-top: 34px;
  background: #292d32;
  width: auto;
  height: 64px;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 1px solid #393e44;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.chat-menu img:nth-child(1) {
  cursor: pointer;
  background: transparent;
  margin-right: 22px;
  margin-left: 22px;
  height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chat-menu img:nth-child(2) {
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 22px;
}

.chat-menu a {
  display: flex;
  align-items: center;
  width: max-content;
  box-sizing: border-box;
  background: transparent;
}