.div-chat-input {
  position: fixed;
  bottom: 0px;
  border-radius: 8px;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 16px;
  width: 100%;
  background: #292D32;
  border-radius: 12px 12px 0px 0px;
}

@media (max-width: 770px) {
  .main {
    border-radius: 0px;
    overflow-y: auto;
  }
}

.chat-input {
  display: flex;
  align-items: center;
  min-height: 64px;
  max-height: 144px;
  border-radius: 12px;
  background: #292D32;
  border: 1px solid #393e44;
  width: calc(100% - 20px);
}

.chat-input img:nth-child(1) {
  margin: auto 16px auto 16px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #181b1f;
}

.more-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  margin-right: 0.5rem;
  flex-shrink: 0;
  background: transparent;
}

.more-input svg {
  background: transparent;
  height: 24px;
  width: 24px;
  fill: #7c878e;
}

.more-input:hover svg {
  fill: #f1f5f9;
}

.but-send-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.75rem;
  margin-right: 0.5rem;
  background: transparent;
}

.but-send-input svg {
  cursor: pointer;
  background: transparent;
  fill: #7c878e;
  border-radius: 10px;
}

.but-send-input svg.svg-fill {
  fill: #f1f5f9;
}

.chat-input textarea {
  resize: none;
  height: 48px;
  min-height: 48px;  
  max-height: 144px;
  line-height: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #f1f5f9;
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  box-sizing: border-box;
  font-size: 1rem;
  overflow: auto;
}