* {
  background: #181b1f;
  margin: 0px;
  font-family: "Archivo", sans-serif;
  overflow-y: hidden;
}

*:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --borderhover1: #e3e9ee;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}

img {
  max-width: 100%;
}

input {
  border: none;
  padding: initial;
  margin: initial;
  font-size: initial;
  font-family: initial;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: none;
  outline: none;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.125rem;
  color: #181b1f;
}

::-webkit-scrollbar-thumb {
  background-color: #9494941f;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Estilo para navegadores Firefox */
::-moz-scrollbar {
  width: 0.125rem;
  color: #181b1f;
}

/* Cor da alça da barra de rolagem */
::-moz-scrollbar-thumb {
  background-color: #9494947a;
}

/* Remover setas */
::-moz-scrollbar-button {
  display: none;
}

.dn {
  display: none;
}

.espacamento-chat-mob {
  margin-bottom: 6rem;
}