* {
  background: #181b1f;
  margin: 0px;
  font-family: "Archivo", sans-serif;
  overflow-y: hidden;
}

.chat-menu {
  display: none;
}

@media (min-width: 770px) {
  .chat-menu {
    display: grid;
  }
  .mob {
    display: none;
  }
  body.chat-pg {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 24px;
  }
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

main.settings {
  display: flex;
}

*:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --borderhover1: #e3e9ee;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}

img {
  max-width: 100%;
}

input {
  border: none;
  padding: initial;
  margin: initial;
  font-size: initial;
  font-family: initial;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: none;
  outline: none;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.125rem;
  color: #181b1f;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Estilo para navegadores Firefox */
::-moz-scrollbar {
  width: 0.125rem;
  color: #181b1f;
}

/* Cor da alça da barra de rolagem */
::-moz-scrollbar-thumb {
  background-color: transparent;
}

/* Remover setas */
::-moz-scrollbar-button {
  display: none;
}

.dn {
  display: none;
}

.espacamento-chat-mob {
  margin-bottom: 8rem;
}

body {
  padding-bottom: env(safe-area-inset-bottom); /* Considera a área segura para dispositivos com notch ou bordas curvadas */
}

/* Esconda as barras de rolagem, mas permita a rolagem */
body {
  scrollbar-width: thin;  /* Para navegadores Firefox */
  scrollbar-color: transparent transparent;  /* Para navegadores Firefox */
  overflow: scroll;  /* Para navegadores que suportam a propriedade overflow */
}

/* Para navegadores WebKit (como Chrome e Safari) */
::-webkit-scrollbar {
  width: 0px;  /* Ajuste a largura conforme necessário */
}

::-webkit-scrollbar-thumb {
  background-color: transparent;  /* Torna a barra de rolagem invisível */
}

::-webkit-scrollbar-track {
  background-color: transparent;  /* Torna a trilha invisível */
}